.background-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url(../../assets/taller.jpg);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s ease-in-out, filter 0.5s ease-in-out;
}

.heartImage {
  width: 30vw;
  height: 30vh;
  object-fit: contain;
}

.pulseAnimation {
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0%, 20%, 40% {
    transform: scale(1);
  }
  10%, 30% {
    transform: scale(1.05);
  }
}

.scaleUpAnimation {
  animation: scaleUp 2s ease-in-out forwards;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(10);
  }
}

.scaleDownAnimation {
  animation: scaleDown 2s ease-in-out forwards;
}

@keyframes scaleDown {
  0% {
    transform: scale(10);
  }
  100% {
    transform: scale(1);
  }
}