.button-text {
    background: none;
    border: none;
    color: #777;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    padding: 0;
    transition: color 0.3s ease;
    outline: none; 
}

.button-text:hover {
    color: black;
}

.button-selected {
    color: black;
    font-weight: bold;
    outline: none; 
}

.button-text:focus {
    outline: none;
}
  